doctype html
html(lang="en")
	head
		title= pageTitle

		//- <!-- Latest compiled and minified CSS -->
	link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")

	//- Theme
	link(rel="stylesheet", href="/css/cover.css")

	//- <!-- Latest compiled and minified JavaScript -->
	script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")

	body
		div.site-wrapper
			div.site-wrapper-inner
				div.cover-container
					div.masthead.clearfix
						div.inner
							h3.masthead-brand Waiting App
							//- ul.nav.masthead-nav
							//- 	li.active
							//- 		a(href='#') Home
							//- 	li
							//- 		a(href='#') Features
							//- 	li
							//- 		a(href='#') Contact
					div.inner.cover
						h1.cover-heading Build it yourself today! 
						p.lead Get started at www.practicalguidetomobileapps.com

					div.mastfoot
						div.inner
							p
								| Download now on 
								a(href='#') Google Play
								| , by 
								a(href='https://twitter.com/nicholas_a_reed') @nicholas_a_reed
							| .

